<!doctype html>
<html>

<head>
  <base href="./">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keyword" content="Bootstrap,Admin,Template,Free,Angular,Dashboard,Typescript">
  <link rel="icon" type="image/png" href="../../../assets/images/logo-magnum-ti (1).png" sizes="16x16">
</head>

<body class="app aside-menu-hidden" style="background: #EEE !important;">
  <div class="row mt-5">
    <div class="col-sm-12" align="center">
      <h4>Carregando...</h4>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-sm-12 text-center">
      <img src="../../../assets/images/logo.png" width="150" />
    </div>
  </div>
</body>
</html>
